html,
body {
  width: 100%;
  height: 100%;
}
body {
  color: #333333;
  font-size: 0.8em;
  background: #f2f2f2;
  box-sizing: border-box;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
/*头部样式开始*/
header {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
header > .top-fix {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
}
header > .tf-search {
  width: 100%;
  overflow: hidden;
  background-color: #ed3f7e;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
header > .tf-search > :nth-child(1) {
  width: 100%;
  height: 100%;
  flex: 4;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
header > .tf-search > :nth-child(1) > img {
  width: 120px;
  height: 28px;
  display: block;
  margin-top: 1rem;
}
header > .tf-search > :nth-child(2) {
  width: 100%;
  height: 100%;
  flex: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}
header > .tf-search > :nth-child(2) > i {
  margin-top: .6rem;
  color: #fff;
  font-size: 2.8rem;
}
/*头部样式结束*/
/*main样式开始*/
main {
  width: 100%;
  flex: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
main > .banner-box {
  width: 100%;
  overflow: hidden;
}
main > .banner-box > .m-banner {
  width: 9999px;
}
main > .banner-box > .m-banner > a {
  width: 20%;
  float: left;
  display: block;
}
main > .m-sec2-box {
  width: 100%;
  padding: 2.5% 5% 1%;
  background-color: #fff;
  font-family: "Noto Sans", "Noto Sans CJK SC Regular", "Microsoft Yahei", "Microsoft elegant black", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
main > .m-sec2-box > div {
  width: 25%;
  height: 100%;
}
main > .m-sec2-box > div > a {
  display: block;
}
main > .m-sec2-box > div > a > img {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
main > .m-sec2-box > div > a > p {
  text-align: center;
  font-size: 1em;
  margin-top: 8px;
  color: #999;
}
main > .m-sec3-broadcast {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 3% 0;
  font-size: .5rem;
  background-color: #fff;
  border-top: 1px solid #eeeeee;
}
main > .m-sec3-broadcast > :nth-child(1) {
  height: 30px;
  line-height: 30px;
  padding-left: 1%;
  flex: 1;
  color: #fc3f83;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}
main > .m-sec3-broadcast > :nth-child(1) > span {
  font-weight: 100 !important;
  margin-left: 5px;
}
main > .m-sec3-broadcast > :nth-child(2) {
  width: 20px;
  margin-right: 5px;
  height: 20px;
  background: url(../images/broadcast_icon.png) no-repeat;
  background-size: 20px 20px;
  margin-top: 5px;
}
main > .m-sec3-broadcast > :nth-child(3) {
  height: 30px;
  line-height: 30px;
  flex: 5;
}
main > .m-sec3-broadcast > :nth-child(3) > ul {
  width: 210px;
}
main > .m-sec3-broadcast > :nth-child(3) > ul > li {
  width: 100%;
}
main > .m-sec3-broadcast > :nth-child(3) > ul > li > p {
  width: 100%;
}
main > .m-sec3-broadcast > :nth-child(3) > ul > li > :nth-child(1) {
  height: 17px;
  line-height: 17px;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-size: .6rem;
}
main > .m-sec3-broadcast > :nth-child(3) > ul > li > :nth-child(2) {
  height: 13px;
  line-height: 13px;
  font-size: 0.5rem;
  color: #999999;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main > .m-sec4-everydayRegion {
  width: 100%;
  margin-top: 10px;
}
main > .m-sec4-everydayRegion > .ms4e-logo {
  width: 100%;
  height: 3.4rem;
  background: url(../images/ms4e-logo.png) center center no-repeat;
  background-color: #fff;
  padding: 2% 0;
  background-size: 300px 21px;
}
main > .m-sec4-everydayRegion > .ms4e-box {
  width: 100%;
}
main > .m-sec4-everydayRegion > .ms4e-box > div {
  width: 100%;
  background-color: #fff;
  margin-bottom: 0.7rem;
}
main > .m-sec4-everydayRegion > .ms4e-box > div > .ms4-img {
  width: 100%;
  height: 100%;
}
main > .m-sec4-everydayRegion > .ms4e-box > div > .ms4-img > a {
  display: block;
  width: 100%;
}
main > .m-sec4-everydayRegion > .ms4e-box > div > .ms4-img > a > img {
  display: block;
  width: 100%;
  height: auto;
}
main > .m-sec4-everydayRegion > .ms4e-box > div > .ms4-fot {
  width: 100%;
  padding: 4% 5%;
}
main > .m-sec4-everydayRegion > .ms4e-box > div > .ms4-fot > :nth-child(1) {
  width: 100%;
  font-size: 1.6rem;
  height: 20px;
  line-height: 20px;
  color: #dc3f7e;
  margin-bottom: 5px;
}
main > .m-sec4-everydayRegion > .ms4e-box > div > .ms4-fot > :nth-child(2) {
  width: 100%;
  line-height: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
main > .m-sec4-everydayRegion > .ms4e-box > div > .ms4-fot > :nth-child(2) > p {
  font-size: 1.3rem;
  color: #999;
  height: 14px;
  line-height: 14px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
}
main > .msec5-flashSale {
  width: 100%;
}
main > .msec5-flashSale > .msec5-logo {
  width: 100%;
  height: 3.4rem;
  background: url(../images/flashSale-logo.png) center center no-repeat;
  background-color: #fff;
  padding: 2% 0;
  background-size: 300px 21px;
}
main > .msec5-flashSale > .msec5-box {
  width: 100%;
}
main > .msec5-flashSale > .msec5-box > div {
  width: 100%;
  background-color: #fff;
  position: relative;
}
main > .msec5-flashSale > .msec5-box > div > a > img {
  display: block;
  width: 100%;
}
main > .msec5-flashSale > .msec5-box > div > a > :nth-child(2) {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/limitted_offer_icon80.png) no-repeat;
  background-size: 3em 3em;
  z-index: 1;
}
main > .msec5-flashSale > .msec5-box > div > a > :nth-child(3) {
  width: 42%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  margin-right: 5%;
}
main > .msec5-flashSale > .msec5-box > div > a > :nth-child(3) > .limit {
  width: 100%;
  height: 45%;
  font-size: 1.2rem;
  margin-top: 16%;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
main > .msec5-flashSale > .msec5-box > div > a > :nth-child(3) > .limit > b {
  color: #ee9c23;
}
main > .msec5-flashSale > .msec5-box > div > a > :nth-child(3) > .price {
  width: 100%;
  height: 18px;
  line-height: 18px;
  margin-top: 4%;
  overflow: hidden;
}
main > .msec5-flashSale > .msec5-box > div > a > :nth-child(3) > .price > .pr-d {
  width: 40px;
  height: 100%;
  line-height: 18px;
  float: left;
  background-color: #ed3d7d;
  color: #fff;
  font-size: 0.9em;
  text-align: center;
}
main > .msec5-flashSale > .msec5-box > div > a > :nth-child(3) > .price > p > .p-s {
  font-size: 1.6rem;
  color: #ed3d7d;
  font-family: "Arial";
}
main > .msec5-flashSale > .msec5-box > div > a > :nth-child(3) > .price > p > .p-s2 {
  font-size: 0.6rem;
  color: #999;
  text-indent: 5px;
  height: 25px;
  line-height: 25px;
  font-family: "Arial";
  padding-right: 2px;
}
main > .msec5-flashSale > .msec5-box > div > a > :nth-child(3) > .ms5-bottom {
  width: 100%;
  height: 22px;
  line-height: 22px;
  margin-top: 8%;
  overflow: hidden;
}
main > .msec5-flashSale > .msec5-box > div > a > :nth-child(3) > .ms5-bottom > .ms5-sold {
  height: 100%;
  color: #999;
  line-height: 22px;
  text-align: left;
  width: 60px;
  overflow: hidden;
  float: left;
  font-size: 0.8em;
}
main > .msec5-flashSale > .msec5-box > div > a > :nth-child(3) > .ms5-bottom > .ms5-btn {
  display: block;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  float: right;
  color: #fff;
  background-color: #ed3d7d;
  letter-spacing: 1px;
  line-height: 18px;
  padding: 2px 10px;
}
main > .sec6-more {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.2em;
  background-color: #fff;
  margin-bottom: 1rem;
}
main > .sec6-more > a {
  color: #999;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
main > .msec7-marketRanking {
  width: 100%;
}
main > .msec7-marketRanking > .msec7ecr-box {
  width: 100%;
  background-color: #fff;
  margin-bottom: .8rem;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-rise {
  width: 100%;
  padding: 0 5%;
  height: 4.3rem;
  line-height: 3.5rem;
  color: #000;
  font-size: 1.7rem;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content {
  width: 100%;
  padding-bottom: 5%;
  overflow: hidden;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div {
  width: 30%;
  height: 150px;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  float: left;
  background: #fff;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > .s4bmpd-bg1 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/marketRanking-bg1.png) no-repeat;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > div:nth-child(1) {
  background-size: 25px 25px;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > .s4bmpd-bg2 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/marketRanking-bg2.png) no-repeat;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > .s4bmpd-bg3 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/marketRanking-bg3.png) no-repeat;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > a {
  display: block;
  width: 80px;
  height: 80px;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > a > img {
  display: block;
  width: 100%;
  height: 100%;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > .s4bmpd-item {
  width: 100%;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > .s4bmpd-item > a {
  width: 100%;
  display: block;
  margin-top: 7px;
  font-size: .7rem;
  color: #666;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-family: 'Microsoft Yahei', Helvetica, Arial, STXihei, SimSun, sans-serif;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > .s4bmpd-item > p {
  width: 100%;
  height: 20px;
  margin-top: 4px;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > .s4bmpd-item > p > span {
  display: block;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > .s4bmpd-item > p > span > b {
  color: #fc3f83;
  font-size: 1.3rem;
  line-height: 20px;
  height: 20px;
  font-family: 500;
  font-weight: normal;
}
main > .msec7-marketRanking > .msec7ecr-box > .msec7m-content > div > .s4bmpd-item > p > span > del {
  margin-left: 5px;
  font-size: .5rem;
  color: #999;
  height: 21px;
  line-height: 21px;
}
main > .msec7-marketRanking > :nth-child(3) {
  margin-bottom: 0;
}
main > .empty {
  width: 100%;
  height: 100px;
}
/*main样式结束*/
/*尾部样式开始*/
footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
}
footer > .f-top {
  width: 100%;
  z-index: 10000;
  background: #fff;
}
footer > .f-top > a {
  display: block;
  width: 100%;
}
footer > .f-top > a > img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 8em;
  min-height: 3em;
}
footer > .f-bottom {
  width: 100%;
  background-color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
footer > .f-bottom > div {
  flex: 1;
}
footer > .f-bottom > div > a {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  border: none;
}
footer > .f-bottom > div > a > .iconfont {
  display: block;
  width: 25px;
  height: 25px;
  color: #999;
  font-size: 2.6rem;
  margin-bottom: 1rem;
  align-self: center;
}
footer > .f-bottom > div > a > p {
  font-size: 0.8em;
  color: #9F9F9F;
  align-self: center;
}
footer > .f-bottom > div > .active > i,
footer > .f-bottom > div .active > p {
  color: #EE3E7E;
}
/*尾部样式结束*/
